<div class ="footer">
    <ul>
        <li><a href="#">@@Copyright 2016</a>|</li>
        <li><a href="#">Terms and Conditions</a>|</li>
        <li><a href="#">Privacy</a>|</li>
    </ul>
</div>
