<fieldset>
    <legend>Forgot Password</legend>

    <div ng-controller="ForgotController">
        <form name="userForm" ng-submit="submitForm()" novalidate>

            <!-- EMAIL -->
            <div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
                <label>Email</label>
                <input type="email" name="email" class="form-control" ng-model="user.email">
                <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </div>

            <!-- Password -->
           


            <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

        </form>
        <div class="forgot"></div>
    </div>
</fieldset>


<script>
    // create angular controller
    myApp.controller('ForgotController', function ($scope, $http, $window) {
      
        // function to submit the form after all validation has occurred
        $scope.submitForm = function () {

            // check to make sure the form is completely valid
            if ($scope.userForm.$valid) {
                debugger;
                $http({
                    url: "http://localhost:89/api/ForgotPassword",
                    method: "POST",
                    dataType: JSON,
                    data: $.param({ "Email": $scope.user.email }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                }).success(function (data) {
                    console.log(data.ResponseMessage);
                    alert(data.ResponseMessage);
                    $(".forgot").html(data.ResponseMessage);
                });

            }
        };
    });
</script>