@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ChangePassword</h2>

<div ng-app="myApp" ng-controller="ChangePasswordController">
    <form name="userForm" ng-submit="submitForm()" novalidate>

        <!-- EMAIL -->
        @*<div class="form-group" ng-class="{ 'has-error' : userForm.email.$invalid && !userForm.email.$pristine }">
            <label>Email: *</label>
            <input type="email" name="email" class="form-control" ng-model="user.email">
            <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
        </div>*@

        <!--Old Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.OldPassword.$invalid && !userForm.OldPassword.$pristine }">
            <label>Old Password: *</label>
            <input type="password" name="OldPassword" class="form-control" ng-model="user.OldPassword" ng-required="true">
            <p ng-show="userForm.OldPassword.$invalid && !userForm.OldPassword.$pristine" class="help-block">OldPassword is required.</p>
        </div>

        <!-- Password -->
        <div class="form-group" ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">
            <label>Password: *</label>
            <input type="password" name="password" class="form-control" ng-model="user.password" ng-required="true">
            <p ng-show="userForm.password.$invalid && !userForm.password.$pristine" class="help-block">password is required.</p>
        </div>

        <!-- Confirm Password -->
        <div class="form-group" ng-class="{'has-error': userForm.confirmPassword.$invalid && !userForm.confirmPassword.$pristine}">
            <label>Confirm Password: *</label>
            <input type="password" name="password" class="form-control" ng-model="user.confirmPassword" ng-required="true">

            <p ng-show="user.password != user.confirmPassword" class="help-block">password mismatch</p>
        </div>



        <button type="submit" class="btn btn-primary" ng-disabled="userForm.$invalid">Submit</button>

    </form>
    <div class="changepwd"></div>
</div>




<script>
    myApp.controller('ChangePasswordController', function ($scope, $http, $window) {


        var EID = localStorage.getItem('ESID');

        if (EID == "null") {
            $window.location = '/Home'
        }


        // function to submit the form after all validation has occurred
        $scope.submitForm = function () {
            debugger;
            // check to make sure the form is completely valid
            if ($scope.userForm.$valid) {
                $http({
                    url: "http://localhost:89/api/ChangePassword",
                    method: "POST",
                    dataType: JSON,
                    data: $.param({ "EID": EID, "OldPassword": $scope.user.OldPassword, "NewPassword": $scope.user.password }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                }).success(function (data) {
                    alert(data.ResponseMessage);
                    console.log(data.ResponseMessage);
                    $(".changepwd").html(data.ResponseMessage);

                    if (data.ResponseMessage != "Incorrect UserName Password") {
                        $window.location = "/Home/ManageRestaurants";
                    }
                });

            }
        };
    });
</script>