@{
    ViewBag.Title = "Menu1";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Menu1</h2>

<div class="row" ng-controller="MenuListController" ng-init="firstCall()">


    <div class="col-lg-9">

        <div>


            <div ng-repeat="category in categories">
                <h2>{{ category.CategoryType }} </h2>

                <table class="table table-filter">
                    <tr class="jumbotron">
                        <th>Food Name</th>
                        <th>Price</th>
                        <th>Quantity/Plate</th>
                    </tr>
                    <tr ng-repeat="menu in category.menuList | filter:{ Status: 1 }">
                        <td>{{ menu.FoodName }}</td>
                        <td>{{ menu.Price | currency:"&#8377;" }}</td>
                        <td>{{ menu.Quantity }}</td>
                        <td>

                            <!-- Trigger the modal with a button -->
                            <button type="button" class="btn btn-primary btn-xs" data-toggle="modal" data-target="#myModal{{menu.MenuId}}">+</button>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{menu.MenuId}}" role="dialog">
                                <div class="modal-dialog modal-sm">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add to Cart</h4>
                                        </div>
                                        <div class="modal-body">
                                            <p>Food Name: {{ menu.FoodName }}</p>
                                            <p>Price: {{ menu.Price | currency:"&#8377;" }}</p>
                                            <p>Quantity: <input type="number" ng-model="menu.TotalQuantity" value="1" /></p>
                                            <p>{{menu.TotalQuantity}} x {{ menu.FoodName }} : {{menu.TotalQuantity*menu.Price}}</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" ng-click="AddOrder(menu)" data-dismiss="modal">Add</button>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </td>
                    </tr>
                </table>
            </div>

        </div>

    </div>


    <div class="col-lg-3">

        
        <table class="table table-filter PlaceOrder">
            <caption>Your Orders: </caption>
            <tr class="jumbotron">
                <th>Food Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
            <tr ng-repeat="food in foods">
                <td>{{food.FoodName}}</td>
                <td>{{food.Price}}</td>
                <td>

                    <button type="button" class="btn btn-primary btn-xs" ng-click="AddOne(food)">+</button>
                    {{food.TotalQuantity}}
                    <button type="button" class="btn btn-danger btn-xs" id="togglee" ng-click="RemoveOne(food)">-</button>


                </td>
                <td>{{food.TotalQuantity * food.Price}}</td>
                <td>
                    @*<button type="button" class="btn btn-primary btn-xs" ng-click="RemoveOrder(food)">-</button>*@

                    <!-- Trigger the modal with a button -->
                    <button type="button" class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myOrderModal{{food.MenuId}}">-</button>

                    <!-- Modal -->
                    <div class="modal fade" id="myOrderModal{{food.MenuId}}" role="dialog">
                        <div class="modal-dialog modal-sm">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Remove</h4>
                                </div>
                                <div class="modal-body">
                                    <p><b>You want to remove {{ food.FoodName }} from cart!</b></p>
                                    <p>Are you sure?</p>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" ng-click="RemoveOrder(food)" data-dismiss="modal">Yes</button>

                                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                                </div>

                            </div>
                        </div>
                    </div>

                </td>
            </tr>
            <tr>
                <td class="amount"></td>
            </tr>
            <tr>

                <td><input type="button" class="btn btn-success btn" ng-click="PlaceOrder()" value="Place Order" /></td>

                <td><input type="button" class="btn-warning btn" ng-click="CancelOrder()" value="Cancel" /></td>
            </tr>
        </table>

    </div>


</div>

<script>

    myApp.controller('MenuListController', function MenuListController($scope, $http, $location, $window) {

        debugger;
        var EID = $location.absUrl().split("/")[5] || "Unknown";

        var AmountValue = localStorage.getItem('amount');
        if (AmountValue == null || AmountValue == 0) {
            $(".PlaceOrder").css("display", "none");
        }

        
        $scope.firstCall = function () {

            $http({
                url: "http://localhost:89/api/ListMenuItem",
                method: "POST",
                dataType: JSON,
                data: $.param({ "EID": EID }),
                headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
            }).success(function (response) {
                $scope.categories = response.Body.categoryList;
            });

            $scope.foods = JSON.parse(localStorage.getItem('session'));
        }

        $scope.AddOrder = function (menu) {
            if (menu.TotalQuantity > 0) {
                var a = [];
                var total = 0;

                total = parseInt(localStorage.getItem('amount'));

                if (total > 0) {
                    total = total + menu.Price * menu.TotalQuantity;

                    localStorage.setItem('amount', total);
                }
                else {
                    total = menu.Price * menu.TotalQuantity;
                    localStorage.setItem('amount', total);
                }

                a = JSON.parse(localStorage.getItem('session'));

                if (a == null) {
                    var b = [];
                    b.push(menu)
                    localStorage.setItem('session', JSON.stringify(b));

                }
                else {


                    debugger;

                    for (var i = 0; i < a.length; i++) {
                        if (a[i].MenuId === menu.MenuId) {
                            menu.TotalQuantity += a[i].TotalQuantity;
                            a.splice(i, 1);
                        }

                    }
                    debugger;
                    a.push(menu);

                    localStorage.setItem('session', JSON.stringify(a));

                }

                //$scope.SecondCall();
                location.reload();
            } else {
                alert("Quantity can not be Zero or less than Zero");
            }
        }
    });
</script>